<!DOCTYPE html>
<html>
  <head>
    <title>
          Modi And Kejriwal
    </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    {% block styleblock %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    {% endblock %}
    <script type="text/javascript" src=""></script>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
        <h1>Face Recognition for Modi And Kejriwal</h1>
        <h2>Task B</h2>
        <h3>IIIT- Delhi Summer Internship</h3>
      </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 ">
        <p>Submit image here</p>
        <form method="post" enctype="multipart/form-data">
          <input type="file" name="file"/>
          <button type="submit" name="button" class="btn btn-primary"> Upload </button>
        </form>
      </div>
    </div>
    {% block results %}
    {% endblock %}
  </div>

</body>
</html>
